h1{
    color: rgb(85, 241, 12)
}
.header{
    background-color: rgb(212, 34, 21)  ;
display:flex ;
justify-content : space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
a:link{
    color: rgb(0, 0, 0);
}

a:visited{
    color:rgb(248, 244, 244);
}